Source: kcm-plasma-services
Section: misc
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Changed-By: Scarlett Moore <sgmoore@debian.org>
Build-Depends: baloo-kf5-dev,
               cmake,
               debhelper-compat (= 12),
               extra-cmake-modules (>= 1.3.0~),
               libkf5kio-dev,
               libkf5configwidgets-dev,
               libkf5coreaddons-dev,
               libkf5i18n-dev,
               libkf5xmlgui-dev,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev
Standards-Version: 3.9.6
Homepage: https://github.com/netrunner-common-extras/kcm-plasma-services

Package: kcm-plasma-services
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Easily turn on/off certain Plasma Services
 Allows a user to fine tune services running on the Plasma Desktop
